<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Sleep Monitor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <nav class="navbar navbar-default" style="background-color: rgb(112, 112, 112);">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand" style="color: #1abc9c;font-size: 25px;"><a href="/" style="color: #1abc9c;font-size: 25px;">SLEEP MONITOR</a></p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <!-- 6 -->
                <li id="home"><a href="/" style="color:rgb(224, 221, 221);">HOME</a></li>
                <li id="about"><a href="about" style="color:rgb(224, 221, 221);">ABOUT</a></li>
                <li id="contacts"><a href="contacts" style="color:rgb(224, 221, 221);">CONTACT</a></li>
                <% if (isAuthenticated) { %>
                    <li id = login><a href="/logout" style="color:rgb(224, 221, 221);">LOGOUT</a></li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn curr_username" ><a href="home" style="color:rgb(224, 221, 221);"><%=username%></a></button>
                            <div class="dropdown-content">
                            <a class = "curr_emails" style="font-size: 0px;"><%=emails%></a>
                            <a class = "curr_userid" style="font-size: 0px;"><%=email%></a>
                            <a class = "friends" ><%=Friends%></a>
                            
                            <script>
                                var friends = $(".friends").text();
                                var friendLen = friends.length;
                                var total_email = new Array;
                                var temp_string = "";
                                console.log(friends);
                                console.log(friendLen);
                                for (var i=0; i<friendLen;i++){
                                    if(friends[i]===','){
                                        total_email.push(temp_string);
                                        temp_string="";
                                    }else{
                                        temp_string+=friends[i];
                                    }
                                };
                                if(total_email.length !=0 ){
                                    for(var i=0;i<total_email.length;i++){
                                        $(".dropdown-content").append('<a class = "friends">'+total_email[i]+'</a>');
                                    }
                                }
                            </script>
                            </div>
                        </div>
                    </li>
                    <% } else { %> 
                    <li id = login><a href="/login" style="color:rgb(224, 221, 221);">LOGIN</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    <div>
    </div>
</head>

<body>
    <div class="container">