<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Sleep Monitor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <nav class="navbar navbar-default" style="background-color: rgb(112, 112, 112);">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand" style="color: #1abc9c;font-size: 25px;"><a href="/" style="color: #1abc9c;font-size: 25px;">SLEEP MONITOR</a></p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <!-- 6 -->
                <li id="home"><a href="/" style="color:rgb(224, 221, 221);">HOME</a></li>
                <li id="about"><a href="about" style="color:rgb(224, 221, 221);">ABOUT</a></li>
                <li id="contacts"><a href="contacts" style="color:rgb(224, 221, 221);">CONTACT</a></li>
                <li id="login"><a href="login" style="color:rgb(224, 221, 221);">LOGIN</a></li>
            </ul>
        </div>
    </nav>
</head>

<body>
    <div class="container">