<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Sleep Monitor</title>
    <script async src="../opencv/opencv.js" onload="openCvReady()"></script>
    <script src="../opencv/utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script>
    <nav class="navbar navbar-default" style="background-color: rgb(112, 112, 112);">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand" style="color: #1abc9c;font-size: 25px;">SLEEP MONITOR</p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li id="home"><a href="/" style="color:rgb(224, 221, 221);">HOME</a></li>
                <li id="about"><a href="/about" style="color:rgb(224, 221, 221);">ABOUT</a></li>
                <li id="contacts"><a href="/contacts" style="color:rgb(224, 221, 221);">CONTACT</a></li>
            </ul>
        </div>
    </nav>
</head>

<body>
    <h1 style="text-align: center; color: black;">Webcam</h1>
    <div class="container">
        <br>
        <video id="cam_input" height="480" width="640" style="width:0px;"></video>
        <canvas id="canvas_output" style="margin-left: 250px; margin-top: 20px;"></canvas>
        <br>
    </div>
    <h3 style="text-align: center;" class="result">Sleeping</h3>
    <h3 style="text-align: center;" class="alert"></h3>>
    <br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script async src="../js/eyes.js" onload="loadTfModel()"></script>
    <br>
</body>
<footer>
    <div style="text-align: center; font-size: 20px;">
        <p>Made by Sriyans</p>
    </div>
    </div>
</footer>

</html>